body{
    background-color: #032830;
}

h1{
    color: #A08739;
}

#gema_giratoria{
    color: #032830;
}

#gema_giratoria1{
    color: #032830;
}

/* Animaciones */

/* #btnPiedra:hover{
    color: aqua;
    transform:rotateY(180deg)
} */

